[submodule "soroban-example-dapp"]
	path = soroban-example-dapp
	url = git@github.com:didalik/soroban-example-dapp.git
[submodule "soroban-cli"]
	path = soroban-cli
	url = https://github.com/stellar/soroban-cli.git
[submodule "soroban-examples"]
	path = soroban-examples
	url = https://github.com/stellar/soroban-examples.git
